/* ----------- SIDEBAR TOGGLE ANIMATION ----------- */
.sidebar {
  transition: all 0.3s ease;
  z-index: 1000;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar.collapsed .menu .text {
  display: none;
}

.sidebar.collapsed .menu a {
  justify-content: center;
}

.sidebar.collapsed .sidebar-header h2 {
  display: none;
}



/* --- HAMBURGER  */
.hamburger {
  background: none;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  transition: transform 0.3s ease;
  justify-content: center;
  position: relative;
  margin-left: 30%;
}

.hamburger:hover {
  transform: scale(1.1);
}

/* - OVERLAY MOBILE - */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* - RESPONSIVE  sidebar - */
@media (max-width: 900px) {
  .sidebar {
    left: -220px;
  }

  .sidebar.collapsed {
    left: 0;
    width: 220px;
  }

  .main-content {
    margin-left: 0 !important;
  }
}
